#featured-soundtracks {
    height: 600px;
    background: #ffe777;
    background-image: url("/media/images/ost_bg_1140x734px.jpg");
    background-position: center;
    border-radius: 10px;

    h2 {
        color: #1530c3;
        font-family: "Manrope";
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h5 {
        color: #ff7741;
        font-family: "Manrope";
        font-weight: 500;
    }
    .featured-soundtracks-list {
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        .hero {
            border-radius: 15px;
        }
        .featured-soundtracks-items {
            border-radius: 15px;

            .hero-info {
                z-index: 2;
                position: absolute;
                @for $i from 1 to 7 {
                    h#{$i} {
                        font-family: "Manrope";
                        font-size: 0.7rem;
                        color: #ffffff;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}
