.featured-articles {
    height: 650px;
    border-radius: 10px;
    background-color: #e3e61e;
    background-image: url('/media/images/articles_bg_1140x734px.jpg');
    @for $i from 0 to 3 {
        .featured-articles-item-#{$i} {
            border-radius: 10px;
        }
    }
    .article-date{
        font-size: 13px;
    }
    .badge-light {
        width: 150px;
        background-color: transparent;
        border: solid 1px #ffffff;
        color: #ffffff;
        font-size: 0.9em;
        font-family: "Open Sans";
        &:active, &.active, &:hover, &:focus{
            background-color: #ffffff;
            color: #426613;
            cursor: pointer;
        }
    }

    .featured-articles-info{
        height: 45%;
        background-color: #ffffff;
        border-radius: 15px;
        padding: 50px 0px;
        h6{
            font-family: 'Manrope';
            text-decoration: none;
            color: #000000;
            margin-top: 5px;
        }
        .cat-badge{
            height: fit-content;
            font-size: 0.8em;
            padding: 0px 15px;
            text-align: center;
            border-radius: 25px;
            color: #ffffff;
            margin-bottom: 20px;
        }
    }
}
