#featured-podcasts {
    height: 550px;
    background: #000;
    background-image: url('/media/images/podcast_bg_1140x734.jpg');
    background-position: center;
    border-radius: 10px;

    h2 {
        color: #ff6888;
        font-family: "Manrope";
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h5{
        color: #fff;
        font-family: "Manrope";
        font-weight: 500;
    }
    .preview-featured-podcasts {
        .featured-podcasts-items {
            border-radius: 15px;
        }
    }
}
