.featured-sotw {
    background-color: #56d2ff;
    border-radius: 10px;
    h2 {
        color: #f2ff24;
        font-family: "Manrope";
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
