.featured-artbooks {
    background-color:#ff6888;
    border-radius: 10px;
        h2 {
            color: #ffffff;
            font-family: "Manrope";
            text-transform: uppercase;
            letter-spacing: 1px;
        }
}
