.featured-artbooks {
    background-color: #ff6888;
    border-radius: 10px;
    h2 {
        color: #ffe700;
        font-family: "Manrope";
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .artbook-img {
        background-image: url(/media/images/mana_artbook_500x400.jpg);
        border-radius: 15px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }
    .artbook-info {
        p{
            color: #ffffff;
        }
    }
}
.offset-1-c {
    margin-left: 4.33333%;
}
