.featured-articles {
    height: 700px;
    .featured-article-item-0 {
        color: #fff;
        padding: 30px;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .feat-article-bg {
        background-color: rgb(204, 204, 204);
    }

    @for $i from 1 to 3 {
        .featured-article-item-#{$i} {
            background-color: #fff;
            padding: 15px 20px 15px 15px;
            a {
                color: #000;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.featured-analysis {
    height: 450px;
    @for $i from 0 to 3 {
        .featured-analysis-item-#{$i} {
            background-color: #fff;
            padding: 0;
            a {
                color: #000;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .item-0 {
        border-right: #ffffff solid 30px;
        h5 {
            color: #ffffff;
        }
    }
    .item-1 {
        border-right: #ffffff solid 15px;
    }
    .item-2 {
        border-left: #ffffff solid 15px;
    }
    .item-description {
        background-color: #ffffff;
        font-size: 0.9rem;
    }
    .h-item {
        height: 35%;
    }
}
.preview-ft-podcast{
    height: 80px;
}
.ft-podcast-title {
    font-size: 0.9rem !important;
    color: black !important;
}
