// @@ Imports
@import "~bootstrap/scss/bootstrap";
@import "./_fonts";
@import "../components/Header/_header";
@import "../components/Footer/_footer";
@import "./_comments";
@import "./_views";
@import "./_home";

html,
body {
    height: 100%;
}

section {
    margin-top: 3em;
    margin-bottom: 3em;
}

a {
    color: #0000cd;
    &:hover {
        color: #0000cd;
    }
    &:active {
        color: #609;
    }
}

nav {
    a {
        color: #0c0c0c;
        font-weight: 400;
        &:hover {
            color: #000000;
        }
        &:active {
            color: #0000cd;
        }
    }
}

.sct-h {
    height: 600px;
}

@for $i from 1 to 10 {
    .h-#{$i * 10} {
        height: #{$i * 10%};
    }
}

.col-4-b {
    flex: 0 0 31%;
    max-width: 31%;
}

.col-7-b {
    width: 0 0 57.33333%;
    max-width: 57.33333%;
}

.offset-1-b {
    margin-left: 3.5%;
}

.alt-title,
.quote {
    font-family: "Playfair Display", sans-serif;
}
