// @@ Imports
@import "~bootstrap/scss/bootstrap";
@import "./_fonts";
@import "../components/Header/_header";
@import "../components/Footer/_footer";
@import "./_comments";
@import "./_views";
@import "./_home";

html,
body {
    height: 100%;
}

a {
    color: #0000cd;
    &:hover {
        color: #0000cd;
    }
    &:active {
        color: #609;
    }
}

nav {
    a {
        color: #0c0c0c;
        font-weight: 400;
        &:hover {
            color: #000000;
        }
        &:active {
            color: #0000cd;
        }
    }
}

.alt-title,
.quote {
    font-family: "Playfair Display", sans-serif;
}
